* {
  box-sizing: border;
}
body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.square {
  height: 75px;
  width: 75px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 3px;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 235px;
  width: 235px;
  gap: 5px;
}

.status {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: black;
  max-width: fit-content;
  color: yellow;
  padding: 10px;
  border-radius: 5px;
}

.game-info button {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

.game {
  display: flex;
}
